@font-face {
  font-family: walkway;
  src: url(fonts/walkway.ttf);

}
a:link {
  color: white;
  opacity: 0.95;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color:black;
  opacity: .7;
}


h1 {
  text-align: center;
  color: white;
  font-family: walkway, sans-serif;
  font-size: 60px;
  padding-bottom:150px
}
h2{
  text-align:left;
  color: white;
  font-family: walkway, sans-serif;
  font-size: 25px;
  padding-top: 15px;
  padding-left: 15px;
}

h3{
  font-weight: bold;
  color: white;
  font-family: walkway, sans-serif;
  font-size: 25px;
  padding-top: 10px;
}


p1{
  color: white;
  font-weight: bold;
  font-family: walkway, sans-serif;
  font-size: 20px;
  line-height: 200%;
  margin-left: 8px;
  margin-right: 8px;
}
#header {
  background-size: cover;
  background-attachment: fixed;
  background-image: url(photos/eden_vertigo.png);
}

#icons{
  padding-top:50px;
}

div.item{
  width:300px;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  padding-top:100px;

}


div.sticky{
  position: sticky;
  top: 0;
}
